*.fasta
*.fa
*.fastq
*.faa
*.fna
*.gz
*.vcf
*.csi
*.tbi
*.gff
*.csv
*.xlsx
*.zip
*.tar.gz
*.log
*.tab
*.tmp
*.log
*.gtf
*.mod
*.cfg
*.fna
*.dat
*.genome
*.dmnd
*.len
*.diamond

.DS_Store
/output
/data
/bin
/info
/run
/results/cleaned
/results/BLAST
/results/proteinorhto_cache_myproject
/results/proteins
/results/proteins/busco
/results
scripts/__pycache__/concat.cpython-313.pyc
pf.protortho.ids
pf.busco.ids
